<div class="container mt-3 mt-lg-5 mb-5">
    <div class="row g-4">
        <div class="col-lg-6 logo-container">
            <div class="card text-bg-dark rounded-lg overflow-hidden shadow">
                <img src="assets/contact.png" class="card-img" alt="contact">
                <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                    <h2 class="card-title text-white mb-0"><i>"Para la juventud alteña"</i></h2>
                </div>
            </div>
            <div class="img-container">
                <img src="assets/logo.png" width="250px" alt="logo" class="img-fluid shadow-lg">
            </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="card contact-card p-4 shadow-lg rounded-lg">
                <h3 class="mb-4 text-center">Contáctanos</h3>
                <p class="mb-4 invitation">
                    Te invitamos a contactarte con nosotros, en caso de que quieras: establecer una alianza, colaborar
                    en un proyecto, aplicar nuestros talleres en tu unidad educativa, o ser un voluntario.
                </p>
                <div class="alert alert-success d-flex align-items-center rounded-pill shadow-sm" role="alert">
                    <i class="fas fa-envelope fa-lg me-3"></i>
                    <p class="mb-0">selfdiscovered.info&#64;gmail.com</p>
                    <a href="mailto:selfdiscovered.info@gmail.com" class="ms-auto btn btn-success btn-sm rounded-circle">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
                <div class="alert alert-wa d-flex align-items-center rounded-pill shadow-sm" role="alert">
                    <i class="fab fa-whatsapp fa-lg me-3"></i>
                    <p class="mb-0">77525758</p>
                    <a href="https://wa.link/9je5ny" class="ms-auto btn btn-danger btn-sm rounded-circle" target="_blank">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>