<div class="background">
    <div class="shape circle"></div>
    <div class="shape square"></div>
    <div class="shape triangle"></div>
    <div class="shape circle"></div>
    <div class="shape square"></div>
    <div class="shape triangle"></div>
    <div class="shape circle"></div>
    <div class="shape square"></div>
    <div class="shape triangle"></div>
    <div class="gradient-overlay"></div>
</div>
<app-navigation-bar></app-navigation-bar>
<router-outlet></router-outlet>
<app-footer></app-footer>