.footer {
    background-color: #313445;
    padding-top: 2rem;
    color: white;
    font-weight: 600;
}

.footer {
    width: 100%;
}

.social-link {
    color: white;
}

.terms {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
    font-size: .6rem;
}

.copy {
    font-size: .8rem;
}

@media (min-width: 992px) {

    .terms {
        font-size: 0.8rem;
    }

    .copy {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {

    .terms {
        font-size: 0.8rem;
    }

    .copy {
        font-size: 1rem;
    }

}
