<div class="container mt-3 mt-lg-5 mb-5 mb-lg-5">
    <div class="row g-4">
        <div class="col-12">
            <div class="card mb-3 hover-shadow">
                <div class="row g-0">
                    <div class="col-md-4 position-relative overflow-hidden">
                        <img src="assets/about_us_1.png" class="img-fluid rounded-start h-100 w-100 object-fit-cover" alt="about_us_1">
                        <div class="overlay"></div>
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5">
                            <h3 class="card-title mb-4">Self-Discovery (Autoconocimiento)</h3>
                            <p class="card-text">
                                Es una organización juvenil de El Alto, Bolivia, fundada en 2023 con el propósito de fortalecer la educación complementaria para los adolescentes de la ciudad y promover la finalización de sus estudios escolares. Tras ser seleccionada en el desafío 4Her Power Challenge de MIT Solve, se ha iniciado la implementación del programa Self-Discover[ed]2024, diseñado específicamente para brindar apoyo a los adolescentes de El Alto durante una etapa crucial de su formación: la educación secundaria.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-3 hover-shadow">
                <div class="row g-0">
                    <div class="col-md-8 d-flex align-items-center order-md-1 order-2">
                        <div class="card-body p-4 p-lg-5">
                            <h3 class="card-title mb-4">Misión</h3>
                            <p class="card-text mb-4">
                                Apoyar a los adolescentes de la ciudad de El Alto en una etapa de formación importante: la secundaria. En colaboración con Unidades Educativas de los 14 distritos de la municipalidad, buscamos proporcionar a los estudiantes de los últimos años de secundaria la información necesaria para explorar y entender mejor su propio potencial, su salud, sus derechos, sus responsabilidades, y las diversas oportunidades para su presente y futuro.
                            </p>
                            <h3 class="card-title mb-4">Visión</h3>
                            <p class="card-text">
                                Una comunidad donde cada adolescente tiene la información para alcanzar su máximo potencial en todos los aspectos de su vida: académico, salud, emocional y social. Buscamos un futuro donde todos los jóvenes de El Alto y más allá sean líderes y contribuyentes a una sociedad próspera y equitativa.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 position-relative overflow-hidden order-md-2 order-1">
                        <img src="assets/about_us_2.png" class="img-fluid rounded-end h-100 w-100 object-fit-cover" alt="about_us_2">
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>