<div class="container mt-3 mb-3 mt-lg-5 mb-lg-5">
    <div class="row mb-4">
        <div class="col-2 d-flex align-items-center justify-content-ceter">
            <a class="btn btn-primary me-auto" routerLink="recursos"><i class="fas fa-arrow-left"></i></a>
        </div>
        <div class="col-10 alert alert-primary m-0">
            <h3>Sección 1</h3>
        </div>
    </div>
    <div class="row">
        <!-- FUNDACIÓN VOCES LIBRES -->
        <div class="col-12 mb-4">
            <div class="card shadow">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">FUNDACIÓN VOCES LIBRES</h5>
                    <a class="btn btn-primary mt-auto ms-auto" data-bs-toggle="modal"
                        data-bs-target="#vocesLibresModal"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- UNFPA Bolivia -->
        <div class="col-12 mb-4">
            <div class="card shadow">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">UNFPA Bolivia</h5>
                    <a class="btn btn-primary mt-auto ms-auto" data-bs-toggle="modal" data-bs-target="#unfpaModal"><i
                            class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- FELCV -->
        <div class="col-12 mb-4">
            <div class="card shadow">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">FELCV</h5>
                    <a class="btn btn-primary mt-auto ms-auto" data-bs-toggle="modal" data-bs-target="#felcvModal"><i
                            class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- AIDA -->
        <div class="col-12 mb-4">
            <div class="card shadow">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">AIDA</h5>
                    <a class="btn btn-primary mt-auto ms-auto" data-bs-toggle="modal" data-bs-target="#aidaModal"><i
                            class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- GREGORIA APAZA -->
        <div class="col-12 mb-4">
            <div class="card shadow">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">GREGORIA APAZA</h5>
                    <a class="btn btn-primary mt-auto ms-auto" data-bs-toggle="modal"
                        data-bs-target="#gregoriaApazaModal"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- LA CASA DEL ADOLESCENTE -->
        <div class="col-12 mb-4">
            <div class="card shadow">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">LA CASA DEL ADOLESCENTE</h5>
                    <a class="btn btn-primary mt-auto ms-auto" data-bs-toggle="modal"
                        data-bs-target="#casaAdolescenteModal"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<!-- FUNDACIÓN VOCES LIBRES Modal -->
<div class="modal fade" id="vocesLibresModal" tabindex="-1" aria-labelledby="vocesLibresModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vocesLibresModalLabel"><b>FUNDACIÓN VOCES LIBRES</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>La Fundación Voces Libres es una organización sin fines de lucro dedicada a promover y defender los
                    derechos humanos, especialmente, la protección de los derechos de las mujeres y niñas. Los objetivos
                    principales de la Fundación Voces Libres incluyen la lucha contra la violencia de género, la
                    promoción de la igualdad y la dignidad de las mujeres, y la defensa de los derechos humanos en
                    general. La organización trabaja en diversas áreas, como la educación, la atención a víctimas de
                    violencia, la sensibilización y la incidencia política para lograr cambios legislativos que
                    beneficien a las mujeres y niñas en Bolivia.</p>
                <p><b>Web: </b><a href="https://www.voceslibresbolivia.org/"
                        target="_blank">https://www.voceslibresbolivia.org/</a>
                </p>
                <p><b>Youtube: </b><a href="https://www.voceslibresbolivia.org/" target="_blank">Canal Fundación Voces
                        Libres</a>
                </p>
                <p><b>Videos: </b>
                    <br><br>
                    <iframe width="100%" height="300px"
                        src="https://www.youtube.com/embed/LokZrvetAYo?si=Ssw08OlKM4sTbRUT" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- UNFPA Bolivia Modal -->
<div class="modal fade" id="unfpaModal" tabindex="-1" aria-labelledby="unfpaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unfpaModalLabel"><b>UNFPA Bolivia</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>El Fondo de Población de las Naciones Unidas, es la agencia de las Naciones Unidas para la salud
                    sexual y reproductiva. Su misión es crear un mundo en el que todos los embarazos sean deseados,
                    todos los partos sean seguros y se aproveche el potencial de las y los jóvenes.</p>
                <p>
                    <span><b>Fuente: </b>UNFPA Bolivia.</span>
                    <br>
                    <b>Disponible en:</b>
                    <a href="https://bolivia.unfpa.org/es/el-unfpa-en-bolivia"
                        target="_blank">https://bolivia.unfpa.org/es/el-unfpa-en-bolivia
                    </a>
                </p>
                <p><b>Web: </b><a href="https://bolivia.unfpa.org/es" target="_blank">https://bolivia.unfpa.org/es</a>
                </p>
                <p><b>Youtube: </b><a href="https://www.youtube.com/@UNFPABol" target="_blank">Canal UNFPABol</a>
                </p>
                <p><b>Videos: </b>
                    <br><br>
                    <iframe width="100%" height="300"
                        src="https://www.youtube.com/embed/UdzuqFgKd68?si=dtT_Wnjdvqet93J0" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- FELCV Modal -->
<div class="modal fade" id="felcvModal" tabindex="-1" aria-labelledby="felcvModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="felcvModalLabel"><b>FELCV</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>La FELCV es un Organismo Especializado de la Policía Boliviana encargado de la Prevención, auxilio e
                    investigación, identificación y aprehensión de los presuntos responsables de hechos de violencia
                    hacia la mujer y la familia.</p>
                <p>
                    <span><b>Fuente: </b>FELCV Bolivia.</span>
                    <br>
                    <b>Disponible en: </b>
                    <a href="https://www.facebook.com/FelcvBolivia/ "
                        target="_blank">https://www.facebook.com/FelcvBolivia/
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- AIDA Modal -->
<div class="modal fade" id="aidaModal" tabindex="-1" aria-labelledby="aidaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aidaModalLabel"><b>AIDA</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>AIDA significa "Atención Integral del Adolescente" y es un proyecto desarrollado por la Agencia de
                    Cooperación Internacional de Corea (KOICA, por sus siglas en inglés) en col-12aboración con diversas
                    entidades. El objetivo principal de AIDA es proporcionar atención integral a los adolescentes,
                    abordando aspectos como la salud, la educación, el bienestar emocional y social, entre otros. El
                    proyecto está diseñado para mejorar las condiciones de vida de los adolescentes y promover su
                    desarrollo integral, especialmente en comunidades vulnerables o en situaciones de riesgo.</p>
            </div>
        </div>
    </div>
</div>

<!-- GREGORIA APAZA Modal -->
<div class="modal fade" id="gregoriaApazaModal" tabindex="-1" aria-labelledby="gregoriaApazaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gregoriaApazaModalLabel"><b>GREGORIA APAZA</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>El Centro Gregoria Apaza en El Alto es un espacio dedicado a la promoción de la cultura, la educación
                    y el desarrollo comunitario en Bolivia. Este centro lleva el nombre de Gregoria Apaza en honor a su
                    legado como líder indígena y símbolo de resistencia. El centro funciona como un lugar de encuentro y
                    aprendizaje para la comunidad, ofreciendo diversas actividades y programas que incluyen talleres
                    educativos, actividades culturales, capacitaciones en oficios, servicios de salud, asesoría legal,
                    entre otros. Su objetivo principal es fortalecer la identidad cultural, promover el desarrollo
                    integral de las personas y fomentar la participación comunitaria.</p>
            </div>
        </div>
    </div>
</div>

<!-- LA CASA DEL ADOLESCENTE Modal -->
<div class="modal fade" id="casaAdolescenteModal" tabindex="-1" aria-labelledby="casaAdolescenteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="casaAdolescenteModalLabel"><b>LA CASA DEL ADOLESCENTE</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>La Casa del Adolescente en Bolivia es un programa nacional que tiene como objetivo principal
                    proporcionar atención integral a los adolescentes, especialmente aquellos en situaciones de
                    vulnerabilidad o riesgo social. Estas casas son espacios destinados a brindar servicios y programas
                    que promuevan el desarrollo integral de los adolescentes, abordando áreas como la educación, la
                    salud, el bienestar emocional, la prevención de la violencia, y la capacitación en habilidades para
                    la vida.</p>
                <p>Las Casas del Adolescente suelen ofrecer actividades y servicios variados, como talleres educativos,
                    asesoría psicol-12ógica, atención médica básica, acceso a información sobre derechos sexuales y
                    reproductivos, capacitación en habilidades para la vida y el trabajo, deportes y recreación, entre
                    otros. El objetivo es proporcionar un entorno seguro y de apoyo donde los adolescentes puedan
                    aprender, crecer y desarrollarse de manera saludable.</p>
            </div>
        </div>
    </div>
</div>