<div class="container mt-3 mt-lg-5">
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs custom-tabs">
                <li class="nav-item">
                    <a class="nav-link" routerLink="area_1" routerLinkActive="active">Área 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="area_2" routerLinkActive="active">Área 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="area_3" routerLinkActive="active">Área 3</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <app-faq-layout></app-faq-layout>
    </div>
</div>